# Node.js dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
build/
dist/

# SQLite local database
prisma/*.db
prisma/*.db-journal
*.db
*.db-journal

# Environment variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
*.pem

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
